.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  color: #8e8e8e;
  padding: 0 10px;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.language {
  display: flex;
  align-items: center;
}
.down-arrow {
  display: inline-block;
  margin-left: 4px;
  width: 12px;
  height: 12px;
}
