.main {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 60px 10px;
}
.smartphone {
  width: 300px;
}
.login {
  width: 350px;
}
.login__part {
  width: 100%;
  background-color: #fff;
  padding: 20px 40px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
}
.logo {
  width: 180px;
  height: auto;
  margin: 32px auto;
}
.app-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.app-links img {
  height: 40px;
}
@media (max-width: 800px) {
  .smartphone {
    display: none;
  }
}
@media (max-width: 400px) {
  .main {
    padding: 0 10px 60px;
  }
  .login__part {
    border: none;
    background-color: initial;
    padding: 20px 20px;
  }
}
